@keyframes pisc {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  font-family: Arial, Helvetica, sans-serif;
}

.urna {
  background: #dbd5c9;
  padding: 30px;
  display: flex;
}

.screen {
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
  border: 3px solid #555;
  display: flex;
  flex-direction: column;
}

.kBoard-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.kBoard {
  background: #403a3a;
  margin-left: 30px;
}

.kBoard-button {
  width: 70px;
  height: 40px;
  background: #0c0c0c;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 0px #887a7a81;
  border-radius: 0px 3px 3px 0px;
}

.btn-white,
.btn-orange,
.btn-green {
  color: #0c0c0c;
  font-size: 15px;
}

.btn-white {
  background: #f8f8f8;
}

.btn-orange {
  background: #f09046;
}

.btn-green {
  background: #48c079;
  width: 90px;
  height: 50px;
}

.p1 {
  flex: 1;
  display: flex;
}

.p1-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.p1-right {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.p-header {
  height: 50px;
  display: flex;
  align-items: center;
}

.p-section-1 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-section-2 {
  height: 50px;
  display: flex;
  align-items: center;
}

.numero {
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}

.pisc {
  animation-name: pisc;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.p-footer {
  flex: 1;
  line-height: 30px;
}

.image {
  border: 1px solid #000;
  background: #fff;
  text-align: center;
  font-size: 14px;
}

.image img {
  width: 100%;
}

.image.small {
  width: 80%;
  font-size: 12px;
}

.p2 {
  height: 50px;
  font-size: 14px;
  border-top: 2px solid #0c0c0c;
  padding-left: 10px;
}
